[2017-04-21 15:31] durandom opened #2 "move kubernetes specific events and settings"
see the [amazon settings](https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/config/settings.yml) for what can be moved

similar to moving the settings we can also move event names (see [amazon](https://github.com/ManageIQ/manageiq-providers-amazon/pull/163/files) for an example)

[2017-04-28 17:10] simon3z commented on #2
@nimrodshn can you look into this? Thanks.

[2017-05-18 09:43] cben opened #17 "ContainerImage registered_on field is always set to Time.now"
Added in https://github.com/ManageIQ/manageiq/pull/7624
This field is set to `Time.now.utc` in refresh parser and gets overwritten with every refresh.  (The only images it doesn't update for are already archived ones where `deleted_on != nil`)
https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/3688c9882/app/models/manageiq/providers/kubernetes/container_manager/refresh_parser.rb#L802

[2017-05-18 09:45] simon3z commented on #17
@cben do we need a BZ?

[2017-05-18 10:13] cben commented on #17
Probably.  I don't have a long-running system with metrics to conclusively say "the graph users see is such-and-such wrong", so just opened a GH issue "the underlying data is wrong"...

Hmm `oc get images` contains `metadata: creationTimestamp: 2017-02-07T11:54:18Z`.
These are normally parsed by `parse_base_item` into `ems_created_on` field, but `parse_openshift_image` doesn't call it.
Ooh, did yo

[2017-05-19 02:34] chessbyte opened #19 "Remove kubernetes code from manageiq-gems-pending"
Please extract https://github.com/ManageIQ/manageiq-gems-pending/tree/master/lib/gems/pending/kubernetes to this repo.

[2017-05-19 16:27] simon3z commented on #19
@nimrodshn can you look into this? Thanks!

[2017-05-19 16:28] simon3z commented on #2
@nimrodshn @cben this can be closed right? Can you reference the PR here? Thanks.

[2017-05-22 08:39] cben commented on #2
Previous PRs:
- https://github.com/ManageIQ/manageiq/pull/15034
- https://github.com/ManageIQ/manageiq-providers-openshift/pull/11 later undone by https://github.com/ManageIQ/manageiq-providers-openshift/pull/12 and redone to kubernetes in #15.

That was just the events config, there are other settings to move.
https://github.com/ManageIQ/manageiq/blob/master/config/settings.yml contains container

[2017-05-22 08:42] simon3z commented on #2
cc @nimrodshn

[2017-05-22 08:43] nimrodshn commented on #2
@simon3z on in :+1:

[2017-05-24 13:53] moolitayer commented on #17
Should the new image trend cover images that are discovered only from pods?
We do not cover that right now

[2017-05-24 14:01] moolitayer commented on #17
As discussed with @yaacov we need another PR to amend the trend calculation (registered_on in last two hours OR registered_on nil and created_on in last two hours)

[2017-05-26 19:50] chessbyte commented on #19
https://github.com/ManageIQ/manageiq-gems-pending/tree/master/lib/gems/pending has 5 dirs left.  :-)
@simon3z @nimrodshn The sooner we can complete this, the sooner we get to gems-pending being empty!

[2017-05-28 06:04] nimrodshn commented on #19
@chessbyte on it :+1:

[2017-05-29 12:35] cben opened #27 "Containers graph refresh"
A tracking issue for things to do (in all repos).
https://github.com/ManageIQ/manageiq/pull/14337 PoC is now nearly :100: % conversion but a lot of work remains.
This issue is for **full refresh**; targeted is out of scope => tracking separately in #114.

- [x] :pray: @zakiva's effort to add deletion tests https://github.com/ManageIQ/manageiq-providers-openshift/pull/18.
- [x] :pray: Improve refre

[2017-05-30 14:33] simon3z commented on #17
@moolitayer should we close this?

[2017-06-01 12:17] moolitayer commented on #17
I would like to make sure we are ok with the implications of this change on the new image trend;
AFAIU It will only show images in openshift inventory and not those discovered from running pods

[2017-06-05 12:44] cben commented on #27
Extracted some tests https://github.com/ManageIQ/manageiq-providers-openshift/pull/19 ,
associations https://github.com/ManageIQ/manageiq/pull/15298

Adam nicely refactored & rebased much of the other changes into https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/30, plan is to finish and land that (behind a flag), then do similarly for openshift.

[2017-06-06 09:13] cben opened #34 "kubernetes capture_context_spec.rb runs openshift code"
In #30 we bumped into https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/spec/models/manageiq/providers/kubernetes/container_manager/metrics_capture/capture_context_spec.rb#L14 in this repo creating an `:ems_openshift` factory and therefore running `Openshift::ContainerManager` code.
Beside conceptually wrong dep, that's annoying because a change that needs simultaneous kubernet

[2017-06-06 09:16] yaacov commented on #34
@cben @simon3z

I'm ok moving this to the openshift repo now and doing a new spec only for kubernetes in a different PR.

[2017-06-06 09:47] simon3z commented on #34
OK.

[2017-06-06 12:24] cben opened #35 "ContainerServicePortConfig ems_ref not unique"
Found by @Ladas.
We set `:ems_ref => "#{service_id}_#{port_config.port}_#{port_config.targetPort}"`.
Protocol is "TCP" / "UDP", and can have both on same ports.  Here is an easy repro, we probably all have these:

[code]

Can disambiguate by `protocol`.
~Perhaps `name` would also work~ Nope, name is optional (https://kubernetes.io/docs/concepts/services-networking/service/; saw heapster service wi

[2017-06-06 12:35] cben commented on #35
@Ladas I do see 2 separate `ContainerServicePortConfig` records, with save_inventory and I think with graph refresh too.
Remind me, how do we expect this to cause a user-visible bug?

[2017-06-06 14:48] Ladas commented on #35
@cben unless I am mistaken, the refresh would keep creating&deleting the duplicate ports, probably every other refresh would be create and other delete. But I would have to try to know for sure. :-) And it could randomly update the data with tcp or udp, since any of those would match.

[2017-06-07 08:47] simon3z commented on #35
@cben @Ladas can you open a BZ? I feel we should resolve this before the graph refresh (in the current `save_inventory`).

[2017-06-13 15:32] moolitayer opened #39 "Multiple managers for Kubernetes"
### WAT ?
- Monitoring = Metrics & Alerts
- Container providers should have a main manager `ContainerManager` and a secondary manager `MonitoringManager` linked by parant_manager_id.
- All monitoring workers should move under the `MonitoringManager`
- There should be two possible implementations for the Monitoring Manager living side by side. Hawkular and Prometheus. The implementation should be d

[2017-06-13 18:10] cben commented on #39
1. Does this involve upgrading k8s and openshift from being managers (EMS)
to Providers?
Or will there be some sibling manager -> manager link?

2. Will the metrics Endpoints eventually move into the monitoring manager?
IOW how will API look? (not opposed to changing, just curious)

[2017-06-14 14:52] moolitayer commented on #39
Turns out both these approaches exist in ManageIQ[1][2][3]. After consultation with @blomquisg and @Ladas these route seems more productive for us.

Don't know yet. I will probably start by taking a look at what other providers are doing.

[2017-07-12 02:27] blomquisg commented on #39
It's worth pointing out that we're discussing the Provider/Manager relationship: http://talk.manageiq.org/t/rethinking-providers-and-managers/2494

I'm not sure exactly all the overlaps with this yet.  But, I'm sure there's going to be some overlaps.

Also, the notion of controlling workers via Managers will hopefully be a thing of the past as we dive more and more in the ReArch ("H" Release).

/c

[2017-07-20 08:40] simon3z opened #70 "ActiveRecord::SubclassNotFound for ContainerImage"
`[----] F, [2017-07-20T10:36:45.642357 #14534:363844c] FATAL -- : Error caught: [ActiveRecord::SubclassNotFound] The single-table inheritance mechanism failed to locate the subclass: 'ManageIQ::Providers::Openshift::ContainerManager::ContainerImage'. This error is raised because the column 'type' is reserved for storing the class in case of inheritance. Please rename this column if you didn't inte

[2017-07-20 08:50] enoodle commented on #70
https://github.com/ManageIQ/manageiq-providers-openshift/pull/23 will solve this but it is dependent on https://github.com/ManageIQ/manageiq/pull/15519

[2017-07-20 09:08] simon3z commented on #70
@enoodle is it because we're missing the `ManageIQ::Providers::Openshift::ContainerManager::ContainerImage` class?

Why does it need https://github.com/ManageIQ/manageiq/pull/15519 ? Can't we just merge it now so that we'll stop crashing?

[2017-07-20 09:58] moolitayer commented on #70
we can merge ManageIQ/manageiq-providers-openshift#23
then container SSA jobs would not start until ManageIQ/manageiq#15519 is merged

[2017-07-20 22:21] simon3z commented on #70
Supposedly fixed by https://github.com/ManageIQ/manageiq-providers-openshift/pull/23
I'll reopen this in case I'll see it again.

[2017-07-20 22:21] #70 closed

[2017-07-24 08:52] cben commented on #34
Fixed by #68 and #72.

[2017-07-25 13:09] cben commented on #27
- [ ] component statuses tries to store a KubeClient object `   :message=>#<Kubeclient::ComponentStatus health="true">,`
- [ ] fixing some volume-related bugs, adding tests

[2017-07-26 12:59] cben commented on #27
- [ ] secondary index by blacklisted `:namespace` is bad — seems to work for full refresh but can't match records from DB, as those don't have `namespace`, only `container_project_id`.

[2017-07-31 12:44] cben opened #78 "persist PVC container_project_id"
PersistentVolumeClaims are namespaced in kubernetes.
We don't persist neither `namespace` nor `container_project_id`.
Full refresh, both old and graph, does correctly link pods to PVC in same namespace.
But when we attempt partial/parallelized refresh, we'll need it in DB for lazy_find to match records from DB.

@miq-bot assign cben

[2017-08-02 16:28] moolitayer opened #80 "[WIP] Support ruby 2.4 in all repositories & gems"
- [ ] manageiq-providers-kubernetes
- [ ] manageiq-providers-openshift
- [ ] kubeclient
- [ ] image-inspector-client

[2017-08-03 19:28] moolitayer commented on #80
mah this is all done already ¯\_(ツ)_/¯

[2017-08-03 19:28] #80 closed

[2017-08-08 11:56] moolitayer opened #85 "Relationship to all entities that are archivable should use an active context"
I think these are:
- container.rb
- container_group.rb
- container_image.rb
- container_project.rb

See
- https://github.com/ManageIQ/manageiq/pull/15251/files#diff-055b42a9cb7c02e4d91fb07e80ca49fdR16
- https://github.com/ManageIQ/manageiq/pull/15251/files#diff-268a58d46a171293f40496890d650b72R5

cc @Ladas @cben @agrare

[2017-08-08 12:04] moolitayer opened #86 "Explicit requires missing"
We should require everything explicitly and not relay on auto loading.
include_concern is an alternative for require & include.

@cben can you please add the link where you explained about include_concern.

[2017-08-08 13:43] cben commented on #86
manageiq has [`include_concern`][1] shortcut to DRY require_nested + include.
[`require_nested`][2] is also a manageiq extension.
I'm not sure if they're always equivalent; my understanding is that these strive to delay loading as much as possible, but do it "correctly" (with some [complex code to ensure correct .descendants for STI][3]), so we shouldn't care.

BTW, `require_nested` does `require_

[2017-08-08 13:49] cben commented on #85
and container_node.rb.

cc @zakiva @zeari
I agree we want `active` on the associations by default.  But should be careful whether this changes meaning of any historical/chargeback reporting — might need to adjust those queries to still include archived objects.

[2017-08-10 08:22] zeari commented on #85
@cben we use `archived?` so it should be fine. https://github.com/manageiq/manageiq/blob/master/app/models/chargeback_container_image.rb#L100

[2017-08-10 08:57] Ladas commented on #85
Also the relations using :active should be the same as before, when the foreign key was nullified. In both cases, the relation did not return disconnected objects. So chargeback was usually using something else, like Model.where(...), instead of the associations.

[2017-08-10 13:36] cben commented on #85
We're talking about entity-entity association here, not ems-entity.  Those
are not and were not nullified on disconnect (except image-registry), so
AFAICT return both active and archived
(example that started this: image.containers. container may be archived
while image is still in use.)

Chargeback: just asking archived? is not enough, if we add active scoping,
youll stop seeing archived ones; wi

[2017-08-10 13:43] zeari commented on #85
We always take all Containers\projects into consideration regardless if theyre currently active or not.
`archived?` is used to show in the specific line of the report if the container\project is currently alive or not.

[2017-08-13 12:31] cben commented on #27
- [ ] ContainerImage creation event has no tests

[2017-08-16 13:33] cben commented on #27
- [ ] `cross_link_node` is done during parsing, consider batched

[2017-08-20 14:49] cben commented on #17
IMHO the mixed definition "image (addition to openshift registry OR start of usage) rate" is too complicated to explain or make sense...  It's even harded to define what it means when you stop using an image and later start running it again.
=> I'm in favor of "image addition to openshift registry" definition, just because it's simple.

UI currently calls the graph "New Image Usage Trend".  Need t

[2017-08-25 14:49] simon3z commented on #17
@cben I don't want to make the dashboard (which is used also as single provider dashboard) too much OpenShift-oriented (e.g. always empty for a Kubernetes provider).

Is it possible to use `created_on`?

[2017-08-28 16:06] cben opened #103 "Should re-connect container images that are used again"
https://bugzilla.redhat.com/show_bug.cgi?id=1488072

(extracting from https://github.com/ManageIQ/manageiq/pull/14808 which was an unacceptable solution, so we can track the bug)
If refresh archives a container image record and later refresh encounters same image again, we create a duplicate record.  This can be confusing in reports.

We don't see this much when images come from openshift registry

[2017-08-30 09:44] simon3z commented on #19
@nimrodshn @moolitayer is this solved? Can we close?

[2017-08-30 09:44] simon3z commented on #17
@moolitayer @cben can we have a BZ to track this? Let's open one ASAP thanks.

[2017-08-30 12:10] moolitayer commented on #19
Fixed in:
- https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/26
- https://github.com/ManageIQ/manageiq-gems-pending/pull/185/files

[code]
Closing

[2017-08-30 12:10] #19 closed

[2017-08-31 08:42] simon3z commented on #17
@moolitayer @cben ping?

[2017-08-31 12:05] moolitayer commented on #17
https://bugzilla.redhat.com/show_bug.cgi?id=1487187

[2017-09-01 17:15] simon3z commented on #103
@cben we probably need better tracking of this RFE, if you file a BZ it wont go unnoticed (please **do** file a BZ :smile: )

[2017-09-04 04:53] cben commented on #17
Sorry for silence.
Closed 1487187 as dup of 1454329, both describe the `registered_on` field which is now fixed.
But I think @simon3z wanted a BZ for image trend in dashboard.
@yaacov can you remind us what the trend means now?

[2017-09-04 05:06] yaacov commented on #17
1. each 1h rullup, we calculate the number of images registered during this hour.
2. then, each 1hour rollup, is collected into the `metrics_rollup` table.
3. the data in the `metrics_rollup` table, create a time/value series or a _trend_.
4. we then display this _trend_ in a chart in the dashboard.
5. this chart is used to visualize a prevailing tendency or inclination of data values ( a trend ).

[2017-09-04 08:21] cben commented on #17
We looked up current behavior, it's only `creationTimestamp` in openshift registry.
https://github.com/ManageIQ/manageiq-providers-openshift/blob/6a62bb2f9cde7f8722f58510b557bfdfc3d77ed6/app/models/manageiq/providers/openshift/container_manager/refresh_parser.rb#L355
https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/services/container_dashboard_service.rb#L216

Opened https://bugzill

[2017-09-12 02:35] cben commented on #85
leftover: the pod-project relation is disconnected but kept track of using `old_container_project`:
`ContainerGroup belongs_to :old_container_project`
`ContainerProject has_many :archived_container_groups, :foreign_key => "old_container_project_id"`

In the spirit of soft delete, should stop doing that, retain container group's `container_project_id` intact but put `active` scope on `project.conta

[2017-09-15 15:57] cben commented on #27
- [ ] there is tricky bug with `save_unused_images: false` mode deleting existing child custom_attributes records.  Fix known (thanks Ladislav).
  - [x] https://github.com/ManageIQ/manageiq/pull/15903
  - [ ] https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/106
  - [ ] https://github.com/ManageIQ/manageiq-providers-openshift/pull/46

We might need more extensive deletion tests for ot

[2017-09-15 17:14] moolitayer commented on #27
@cben are we keeping a list of known issue somewhere? Label Tag Mapping is all I could find (except for the `save_unused_images` issue that has it's own prs)

[2017-09-15 17:42] cben commented on #2
I believe everything has been moved, can be closed.

[2017-09-15 17:45] cben commented on #78
@miq-bot assign @zeari

I believe you just implemented this in #108 and related PRs?

[2017-09-15 18:06] cben opened #114 "RFE: targeted refresh"
Not yet working on this, dumping ground for things we know will be needed...
Will be done on top of graph refresh only, of course.

More or less same problems also face streaming/evented refresh, but for me at least "single target" is easier way to think about these.

- [ ] namespace/project overlaying might be tricky.  always fetching both might be best option.

- [ ] image/openshift image overla

[2017-09-15 18:17] cben commented on #27
Yes, this is the list :-)

Added emojis to categorize (approximately) correctness/unimplemeted :building_construction: / bugs :bug:  / desired tests :pray: / performance :racehorse: / code polish :lipstick:.

Tag mapping (I'm working on it) and unused images are the only current known bugs.

[2017-09-18 13:09] #2 closed

[2017-10-01 07:48] miq-bot opened #124 "Reuse persistent HTTP connections"
I noticed recently we don't reuse HTTP connections.  A new TCP/TLS/HTTP connection every request may add up to an order of magnitude speed difference:
https://bibwild.wordpress.com/2012/04/30/ruby-http-performance-shootout-redux/

- [ ] HawkularClient creates a new RestClient instance for every single call.
- [ ] Kubeclient does cache RestClient instance, but RestClient itself doesn't support conn

[2017-10-01 08:22] cben commented on #124
Summary from original issue + updates:

- [x] refresh is not a problem now — we do <20 requests total.
  - [ ] would become significant if we do targetted queries (but not problem if we just use watch, keeps open connection).

- [ ] hawkular-client creates new RestClient instance each .get
  https://github.com/hawkular/hawkular-client-ruby/blob/v4.1.0/lib/hawkular/base_client.rb#L43-L44
- [ ] in o

[2017-10-01 08:40] yaacov commented on #124
@cben , yes it's a POC planed by @agrare , It's on my todo list, didn't get to it yet :-(

[2017-10-01 15:01] cben opened #126 "tag mapping with graph refresh"
Label->Tag mapping currently implemented only with save_inventory refresh.
This is last blocker for feature parity of graph refresh with old refresh (#27, https://bugzilla.redhat.com/show_bug.cgi?id=1470021).

### merged

- [x] https://github.com/ManageIQ/manageiq/pull/16098 (merged, ignore github showing it closed)
  - refactoring, extracted Mapper class
  - Core: collect all mapped tags, batch A

[2017-10-01 15:34] cben commented on #126
@miq-bot add-label performance, enhancement

[2017-10-02 15:43] simon3z commented on #126
@cben it seems we have a long list of items, any estimation on completion?

[2017-10-16 07:39] zakiva opened #131 "Failing test without 'application_helper'"
Test in `spec/models/manageiq/providers/kubernetes/monitoring_manager_spec.rb` fails since the `application_helper` require statement was removed from the main repo in https://github.com/ManageIQ/manageiq/pull/16024.

The error I'm getting is:

[code]

I opened a [PR](https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/125) to require `application_helper` in this repo, but I understand

[2017-10-16 08:09] cben commented on #131
I can confirm `rspec ./spec/models/manageiq/providers/kubernetes/monitoring_manager_spec.rb` fails, but what's weird is `bundle exec rake` passes.  Can it be order dependence?

[2017-10-16 08:35] cben commented on #131
I redefined `require` to print, and neither that spec alone nor full `rake test` requires application_helper:
https://gist.github.com/cben/1e5e2cd6347e6132d14b2b188cb39841
But maybe application_helper requires something else that makes it pass?

[2017-10-16 09:00] cben commented on #131
did binary search on by commenting/uncommenting requires resulting from above instrumentation and it turned out this is necessary and sufficiet to pass:
[code]

I think the rescue-all `authentication_check_no_validation` was swallowing the error.

[2017-10-16 09:05] zakiva commented on #131
@cben nice!

[2017-10-16 15:53] zakiva commented on #131
Fixed in https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/40, closing.

[2017-10-16 15:53] #131 closed

[2017-10-18 12:20] cben commented on #34
@yaacov there is another case of this in prometheus spec:
https://github.com/manageiq/manageiq-providers-kubernetes/blob/master/spec/models/manageiq/providers/kubernetes/container_manager/metrics_capture/prometheus_capture_context_spec.rb#L10

Simply changing to `:ems_kubernetes` factory fails with:
[code]

I suppose like #72 we'll need to remove some requests from cassette (or re-record)...
Can y

[2017-10-18 12:34] yaacov commented on #34
@cben sure :-)
I'm working on https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/132 , I think it's the same thing ?

[2017-10-23 09:48] moolitayer opened #136 "PartialRefreshError: no block given (yield) during refresh"
2.4.1 :002 > EmsRefresh.refresh(ManageIQ::Providers::ContainerManager.first)

[code]

[2017-10-23 09:49] moolitayer commented on #136
cc @cben have you seen this?

[2017-10-23 11:52] cben commented on #136
Haven't seen.  `no block given (yield)  Method:[block in method_missing]` sounds weird.
Stacktrace not informative, this is just https://github.com/ManageIQ/manageiq/blob/2ec76f1244/app/models/ems_refresh/refreshers/ems_refresher_mixin.rb#L27-L50 swallowing the exception.
@moolitayer Can you set `EmsRefresh.debug_failures = true` and re-run?

[2017-10-25 12:41] moolitayer commented on #136
Maybe this is more relevant?
(I'm not sure where this is coming from, did you get a chance to add a new provider and refresh it recently?)
[code]

[2017-10-26 12:44] cben opened #141 "Graph refresh doesn't set `custom_attributes.serialized_value`"
Graph refresh doesn't set `custom_attributes.serialized_value` because it skips creating ActiveRecord and doesn't run `value=`:
https://github.com/ManageIQ/manageiq/blob/master/app/models/custom_attribute.rb

@simon3z @Ladas we already discussed this ugly `serialized_value` a couple times, though I don't remember the conclusion :-(
IIUC it's only used to support non-string attributes set via API,

[2017-10-26 17:00] cben commented on #136
Can you rebase, both k8s provider and core manageiq?
On master kubernetes/container_manager/refresh_parser.rb:21 calls `ContainerLabelTagMapping.mapper`, but until recently it was `ContainerLabelTagMapping.cache`.
Theory: If you have old k8s (before #130) and new core, it'd call `cache`, no longer defined on the model, which explains where `cache` from active_record/query_cache.rb:9 comes in.

[2017-10-29 08:36] moolitayer commented on #136
I pretty sure I tested master with no plugins, anyway it's now working fine. Thanks @cben

[2017-10-29 08:36] #136 closed

[2017-11-02 14:25] cben opened #155 "Invalid image_ref docker://sha256:d130c244f9cdb82435eca2c950bb6fdd4357b4ada599aacabf8691760983562b"
From https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/94#issuecomment-332163373

@miq-bot add-label bug

cc @enoodle
We're skipping parse_container_status in such case, is this OK?

[2017-11-02 14:59] cben opened #156 "Invalid empty image_ref — imageID="""
From https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/94#issuecomment-332203701

cc @enoodle @zeari
We're skipping parse_container_status in such case, is this OK?
Sounds like simply a container that's not pulled image & started yet? (note ImagePullBackOff)
However, probably should still parse other fields in parse_container_status rather than giving up...

[2017-11-02 15:49] enoodle commented on #155
I don't understand currently why this is failing the way it is. This image ref is not wrong (There is a test case for that [1])
I also tested this image_ref in [2] and I saw that it does match the RE and doesn't return `nil`.
What version exactly do you run? I looked at Fine(4) and it seems to accept this too.

[1] https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/spec/models/m

[2017-11-02 15:57] cben commented on #155
@agrare, you said you now have more example in logs, could you add them here / on #156 ?

[2017-11-02 16:25] agrare commented on #155
@cben sure thing:
[code]
looks like it is for this issue, I'll try to find one with an empty image for the other issue.

[2017-11-02 16:26] agrare commented on #156
[code]

[2017-11-02 16:29] agrare commented on #155
@cben let me know if you need more, I have
[code]

[2017-11-19 13:58] cben commented on #103
Should be fixed for graph refresh by #145.

Left unfixed in save_inventory refresh as we never found an acceptably efficient fix.  (This is our first deliberate behavior divergence between old vs graph refresh.)

[2017-11-19 13:58] #103 closed

[2017-12-06 12:27] cben opened #183 "Pod conditions fields != Node conditions fields"
We use one table and one `parse_conditions()` method for both pod & node `status.conditions`.
The fields we take match node conditions but not exactly pods.  Specifically:

- nodes have `lastHeartbeatTime` which we parse & store;
- pods instead have `lastProbeTime` which we discard.

https://kubernetes.io/docs/api-reference/v1.8/#nodecondition-v1-core
https://kubernetes.io/docs/api-reference/v1.8/

[2017-12-06 12:32] moolitayer commented on #183
@cben will adding lastProbeTime solve our problem?
(and in the UI show what is available) where do we show/use these?

[2017-12-06 13:59] cben commented on #183
I have no idea if there are any practical consequences :-)
Just noticed it when looking at code vs API response...

Yes, adding last_probe_time is only missing thing.
And perhaps it'd be fine to stick it into last_heartbeat_time (perhaps
renamed) — it's one OR the other, and both essentially mean "when this was
checked".

[2017-12-27 21:26] cben commented on #156
FYI I'm adding test *data* (but not much meaningful *tests* yet) of several stages of pod life in #194, including several with imageID="".

[2017-12-27 21:44] cben opened #196 "Get rid of old_ems_id"
Archiving used to clear `ems_id` and store it in `old_ems_id`.
`old_ems_id` is unnecessary now that we retain `ems_id` (since https://github.com/ManageIQ/manageiq/pull/15251 and related PRs).

- [x] backfill unset `ems_id` from `old_ems_id` — https://github.com/ManageIQ/manageiq-schema/pull/18 already did that.
- [x] drop any code checking `old_ems_id` / `old_ext_management_system`.
  - [x] #267 S

[2017-12-27 21:46] cben commented on #196
@miq-bot add-label technical debt

[2018-01-03 15:38] moolitayer opened #200 "All validation errors look the same in the metrics endpoint"
See https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/195#issuecomment-354134477

[2018-01-03 15:38] moolitayer commented on #200
https://github.com/prometheus/prometheus_api_client_ruby/pull/11

[2018-01-08 11:02] cben opened #207 "Quota `cpu` vs `requests.cpu`, `memory` vs `request.memory`"
An aspect of https://bugzilla.redhat.com/show_bug.cgi?id=1504560 that will make reporting on quotas annoying:
Kubernetes gives 2 equivalent spellings for CPU and memory requests:

Combined with archiving, each spelling would have it's own history, and piecing the one history of "effective requests quota" together would be painful...
So I was tempted to normalize to one form in parser, so DB could

[2018-01-08 11:27] cben opened #208 "Float troubles in ContainerQuotaItem archiving"
I want to track here the non-trivial part of quota history archiving (https://bugzilla.redhat.com/show_bug.cgi?id=1504560), which is **knowing when the current value from k8s is same as previous value in DB.**
This is hard because floating point is hard :-(

### k8s data model
Quota values are mostly integers, except CPU which is measured in "millicores", precision of 0.001.
Users enter them as st

[2018-01-08 13:59] cben commented on #208
@kbrock @Ladas @Fryguy please advise.
Do you have long-term preference between decimal column type vs scaled integer?
Any advice for how to do it *reliably* in current release?
All other thoughts welcome.

cc @bazulay @zeari @moolitayer

[2018-01-14 11:42] cben opened #215 "store custom attributes and/or storageClass of PV / PVC"
Things we currently don't store:
- [ ] PVs may have labels, annotations, storageClassName.
- [ ] PVCs may have labels, annotations, storageClassName, selector.

Don't know how important these are.  But generally if admins bothered to set meaningful labels on entities, would be nice to show them in ManageIQ...

https://kubernetes.io/docs/concepts/storage/persistent-volumes

[2018-01-18 20:31] #208 closed

[2018-01-28 11:19] cben opened #225 "env vars: we parse fieldRef but not resourceFieldRef"
(very low priority, there are much bigger things in k8s we're not collecting)

https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-container-fields-as-values-for-environment-variables

We do `:field_path => env_var.valueFrom.try(:fieldRef).try(:fieldPath)` but don't handle resourceFieldRef.
https://github.com/cben/manageiq-providers-https://git

[2018-01-28 16:50] moolitayer commented on #225
@cben the second link goes nowhere

[2018-03-05 13:25] cben commented on #17
@yaacov haven't we fixed this?

- [x] https://bugzilla.redhat.com/show_bug.cgi?id=1454329 ContainerImage :registered_on field is wrong VERIFIED
- [x] https://bugzilla.redhat.com/show_bug.cgi?id=1487187 DUPLICATE of above
- [ ] https://bugzilla.redhat.com/show_bug.cgi?id=1488052 New Image Usage Trend is only openshift's registry, blank for kubernetes NEW (no decision on desired behavior)

This issu

[2018-03-05 13:32] yaacov commented on #17
Fixed :+1:

[2018-03-05 13:32] #17 closed

[2018-03-14 17:53] cben commented on #126
This is long done, closing.
(except several "not on critical path" stuff, these were indeed out of scope, some now tracked elsewhere)

[2018-03-14 17:53] #126 closed

[2018-03-14 18:15] cben commented on #27
This is long done.

[2018-03-14 18:15] #27 closed

[2018-03-14 18:17] cben commented on #78
Done in #108.

[2018-03-14 18:17] #78 closed

[2018-03-20 09:21] cben commented on #86
@moolitayer are you aware of specific places we miss requires?  An automatic way to find them?

[2018-03-26 07:14] Ladas commented on #114
@cben hm, we should schedule a work on this, I was dragged away to other things. But I know guys from Kubevirt are already implementing targeted refresh(and basing it on k8s provider), we should sync with them.

[2018-04-25 17:04] cben commented on #35
long fixed on gaprindashvili and master.
graph refresh fixed long ago, too lazy to find now.
classic refresh fixed by https://github.com/ManageIQ/manageiq/pull/16454
tests for all modes in https://github.com/ManageIQ/manageiq-providers-openshift/pull/86

[2018-04-25 17:04] #35 closed

[2018-07-04 14:52] cben commented on #196
@miq-bot remove-label stale

[2018-07-11 15:40] cben commented on #207
Closing for lack of Product direction to invest any more into quota history.

[2018-07-11 15:40] #207 closed

[2018-11-07 12:14] cben opened #301 "rollup_spec failing"
@yaacov @agrare kubernetes provider specs started failing 1–2 days ago:
https://travis-ci.org/ManageIQ/manageiq-providers-kubernetes/jobs/451822995
It's something related to metrics so I'm wondering if https://github.com/ManageIQ/manageiq/pull/18159 merged 2 days ago might be related?

[code]

[2018-11-08 16:47] #301 closed

[2019-01-17 14:03] agrare commented on #196
Marking this as `pinned` since we really should finish this out

[2019-07-23 11:20] cben opened #333 "Documented provider setup doesn't work — missing `cluster-reader` ClusterRole"
As reported on http://talk.manageiq.org/t/kubernetes-provider-displays-no-info-because-of-missing-cluster-reader-clusterrole/3569,
the docs only have instructions for setting up `management-infra` account on Openshift, and these don't work as-is for Kubernetes:

http://manageiq.org/docs/guides/providers/kubernetes
http://manageiq.org/docs/reference/latest/doc-Managing_Providers/miq/#containers-pro

[2019-11-21 19:29] agrare commented on #86
To prevent loading more gems than required and to keep memory down we delay load dependencies so this is intentional.

[2019-11-21 19:29] #86 closed

[2019-12-12 19:03] agrare commented on #39
Kubernetes has a monitoring manager now so I'm going to say this is done.  Please reopen and update the description if you want to do more here.

[2019-12-12 19:03] #39 closed

[2020-01-30 18:45] mfeifer commented on #200
Please re-open if this is still a bug.

[2020-01-30 18:45] #200 closed

[2020-01-30 18:45] mfeifer commented on #156
Please re-open if this is still a bug.

[2020-01-30 18:45] #156 closed

[2020-01-30 18:46] mfeifer commented on #155
Please re-open if this is still a bug.

[2020-01-30 18:46] #155 closed

[2020-01-30 18:46] mfeifer commented on #141
Please re-open if this is still a bug.

[2020-01-30 18:46] #141 closed

[2020-01-30 18:47] mfeifer commented on #85
Please re-open if this is still a bug.

[2020-01-30 18:47] #85 closed

[2020-04-21 16:14] agrare opened #369 "[Providers] Use k8s watches for targeted refresh"
Currently all refreshes for the ContainerManagers are full refreshes.  These full refreshes can take a significant amount of time and thus the lag is quite bad and as well short lived objects that are created and deleted between refreshes are completely missed.

We can use watches to subscribe to updates from the k8s API and only parse and save that specific update.

[2020-04-28 15:15] djberg96 commented on #114
@cben, @Ladas I think this can be closed with https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/272

[2020-04-28 15:30] Ladas commented on #114
@djberg96 I guess :-) Not sure if everything was finished, @agrare do you remember?

[2020-04-28 16:02] agrare commented on #114
@djberg96 It looks like the rest of the issues here are being worked through as part of https://github.com/ManageIQ/manageiq-providers-kubernetes/issues/369 so they aren't all done but they're being worked on.

[2020-04-30 16:28] #369 closed

[2020-05-05 14:10] agrare commented on #114
Kubernetes now has targeted refresh via watches, and https://github.com/ManageIQ/manageiq-providers-openshift/issues/171 is tracking further issues specific to openshift.  Going to close this now given the remaining issues are openshift specifc (namespace/project and image overlay)

[2020-05-05 14:10] #114 closed

[2020-06-26 12:03] skateman opened #383 "Add provider form fields revisit for DDF conversion"
I'm trying to convert the add-provider form for containers to DDF and there are some inconsistencies. All the endpoints use the same token for authentication, this is solved by copying the default record. This would not be a problem, it is all sorted out on the model-level. However, the virtualization requires a separate token and on my setup I was able to use the same token as for the default end

[2020-06-27 23:14] agrare commented on #383
If I had to guess its because it is in its own repo and isn't only added as a child manager.  Doesn't make it a good reason and I'm open to changing it :smile:

[2020-06-28 06:49] cben commented on #383
Yeah, kubevirt is custom resources accessed over same apiserver, I'm pretty certain it has same authN.

From what i remember, the way containers child managers update child Endpoints/Auth records in rails hooks when parent manager changes (or something like that) was a horrible kludge that bit us in subtle ways :-(

IIRC @masayag tried to apply this pattern to kubevirt and had issues with it (?)

[2020-06-28 07:43] skateman commented on #383
If that's okay, I'd like to get rid of that token field for kubevirt, it would not need any special handling on the backend after converting the form to DDF.

[2020-06-28 07:45] masayag commented on #383
KubeVirt is an add-on for kubernetes which requires different roles to fully-operate than the roles that are needed for the container manager.
Therefore, the admin has the ability to provide a specific token to be used for the virtualization purpose.

That's the main reason why we added a specific token for the virtualization endpoint.

[2020-07-02 12:12] skateman opened #387 "API-driven asynchronous credential verification"
The DDF forms require the verification to be asynchronous and API-driven, ideally without having anything stored in the database. I  was able to implement the validation for the default endpoint by using `raw_connect`. However, the non-primary (prometheus, hawkular, kubevirt) endpoints are a little bit complicated as all the verification methods are in a record's context and as far as I see, I'd n

[2020-07-02 12:20] skateman commented on #383
Thank you @masayag @cben, in this case there's one additional issue: the kubevirt hostname/port/protocol fields can't be auto-copied from the default endpoint. A possible solution I see is to not show them at all and just solve the storing on the model leve. Would that be okay with you?

[2020-07-02 13:32] masayag commented on #383
@skateman that sounds reasonable to me. So eventually the 'virtualization' sub-tab will contain only the token field and validate button ?

[2020-07-02 13:34] skateman commented on #383
Yes, as that's the only editable field there...

[2020-07-13 10:44] skateman commented on #383
@agrare there are similar delegation problems here as we had in configuration management.

[2020-07-13 14:00] agrare commented on #383
Well that's "fun"

[2020-07-16 17:38] gtanzillo commented on #383
Closing since the question was answered

[2020-07-16 17:38] #383 closed

[2020-07-31 09:03] skateman opened #391 "API endpoint for detecting an endpoint"
We need an API endpoint for detecting a metrics/alerts (and kubevirt?) endpoint. Ideally a context free one that gets the default endpoint and the credentials similarly to validation and returns the fields.

@miq-bot assign @agrare
https://github.com/ManageIQ/manageiq/issues/18818

[2020-08-06 09:26] #387 closed

[2020-11-16 14:18] chessbyte opened #412 "Consistency Issue? "NO Proxy" vs "No Proxy""
Are these the same for i18n purposes?  Should they be changed to be the same string?

[No Proxy](https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/app/models/manageiq/providers/kubernetes/container_manager_mixin.rb#L646) vs [NO Proxy](https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/app/models/manageiq/providers/kubernetes/container_manager/options.rb#L30)

[2020-11-16 14:20] chessbyte opened #413 "Consistency Issue? "CVE Location" vs "CVE location""
Are these the same for i18n purposes?  Should they be changed to be the same string?

[CVE Location](https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/app/models/manageiq/providers/kubernetes/container_manager_mixin.rb#L677) vs [CVE location](https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/app/models/manageiq/providers/kubernetes/container_manager/options.

[2020-11-21 19:06] cben commented on #412
yes, definitely same.

[2020-11-23 17:20] #413 closed

[2020-11-23 17:20] #412 closed

[2021-02-22 20:17] gtanzillo commented on #124
@cben Would you have an idea of the sizing of this issue? S / M / L / XL.

[2021-02-28 17:00] cben commented on #124
Kubeclient 4 used rest-client, which is no longer maintained, and doesn't support persistent connections: https://github.com/rest-client/rest-client/issues/453

Kubeclient 5.0 will support this, at least partially.

- https://github.com/abonas/kubeclient/pull/466 (merged to master) replaced rest-client (used for all requests except watch) with Faraday.
  This will allow `client.faraday_client.adap

[2021-07-28 15:07] #196 closed

[2021-08-25 20:40] agrare opened #446 "[RFE] Only fully restart watch on 410 Gone"
If we have a short-lived token (e.g. EKS/GKE/OKE) resulting in an Access Denied we can get a new token and re-use the old resource_version resulting in a more performant streaming refresh with fewer fulls.

[2021-08-27 19:20] #446 closed, assigned to nobody